.registration-container {
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #243b50;
    

}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form h3 {
    font-weight: bold;
    /* color: rgb(228, 14, 14); */
    color: white;
    margin-bottom: 10px;
    font-size: 22px;
}

.form {
    border: 1px solid grey;
    margin: auto;
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    /* background-color: #24e7de; */
    /* box-shadow: 2px 2px 2px 2px #e7e2e2; */
    background-color: #ffff;
   
}

.form input {
    height: 38px;
    padding: 10px;
}

.form label {
    font-weight: bold;
}
/* .form .form-fileds{
    display: flex;
    flex-direction: column;
} */

.form-fields {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.register-btn-container {
    text-align: center;
    padding: 10px;
    margin-bottom: -25px;

}

.register-btn {
    background-color: rgb(60, 150, 60);
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}